/**
 * GoneView styles
 */

.page-gone .description {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.page-gone .gone-options {
  margin-top: 2rem;
}

.page-gone .gone-option {
  margin-bottom: 2rem;
}

.page-gone .gone-option h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.page-gone .gone-option p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.page-gone .gone-option a {
  font-weight: 500;
  text-decoration: underline;
}
